:root {
  --radix-collapsible-content-height: 68px;
  --radix-collapsible-content-width: 300px;
}

body {
  font-family: $body-font-family;
  background: $body-bg;
}


.flex-column{
  flex-direction: column;
}

.text-capitalize{
  text-transform: capitalize;
}

.rounded{
  border-radius: $border-radius;
}
.rounded-sm{
  border-radius: $border-radius-sm;
}
.rounded-lg{
  border-radius: $border-radius-lg;
}
.rounded-circle{
  border-radius: 50%;
}
a{
  cursor:pointer;
}