a {
  text-decoration: $link-text-decoration;
  color: $link-color;
  padding: 0.5rem 0.875rem;

  &.link {
    // &:not(.btn) {
    @include pseudo(after, 25%, 3px, 90%, 0.875rem, block) {
      background: $primary;
      transform: scaleX(0);
      transform-origin: left bottom;
      transition: $general-transition-quick-all;
    }
    &.active,
    &:hover {
      color: $link-active-color;
      font-weight: 500;
      &::after {
        transform: scaleX(1);
      }
    }
    // }
  }
}
